
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Charts</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class-->
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="charts" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block">
                <a name="onhold"></a>
                <div id="rfstatus"></div>
            </div>
            <div class="content-block">
                <div id="rfvariance"></div>
            </div>
            <div class="content-block">
                <a name="behind"></a>
                <div id="allstatus"></div>
            </div>
            <div class="content-block">
                <div id="allvariance"></div>
            </div>
        </div>
    </div>
</div>