
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Send Message</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="newmessage" class="page">
        <!-- Scrollable page content-->

        <div class="page-content">
            <br />
            <div class="content-block-title">
                MEMO TO: <br>
                PROJECT MANAGEMENT
            </div>
            <form method="post" name="newmessage" id="newmessage"
                  action="http://malasakit.appteknik.com/api/tiger/message">
            <input type="hidden" name="from" value="" />
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">To</div>
                                <div class="item-input">
                                    <input name="to" type="text" placeholder="" value="Carlos" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Subject</div>
                                <div class="item-input">
                                    <input name="subject" type="text" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Priority</div>
                                <div class="item-input">
                                    <select name="priority">
                                        <option>High</option>
                                        <option selected>Normal</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Message</div>
                                <div class="item-input">
                                    <textarea name="body"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill color-red">Cancel</a></div>
                    <div class="col-50">
                        <input type="submit" value="Submit" class="button button-big button-fill color-green"/>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>