
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Schedule Meeting</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="newmeeting" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <br />
            <div class="content-block-title">
                INVITE TO MEET: <br>
                PROJECT MANAGEMENT
            </div>
            <form method="post" name="newmeeting" id="newmeeting"
                  action="http://malasakitdev.appteknik.com/api/tiger/meeting">
            <input type="hidden" name="from" value="Exec" />
            <input type="hidden" name="status" value="Pending" />
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">To</div>
                                <div class="item-input">
                                    <input type="text" name="to" placeholder="" value="Carlos Sevilla"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Start (PST)</div>
                                <div class="item-input">
                                    <div class="row">
                                        <div class="col-60">
                                            <input type="date" name="startdate" id="startdate" placeholder="mm/dd/yyyy" value=""/>
                                        </div>
                                        <div class="col-40">
                                            <select name="starttime" id="starttime"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">End (PST)</div>
                                <div class="item-input">
                                    <div class="row">
                                        <div class="col-60">
                                            <input type="date" name="enddate" id="enddate" placeholder="mm/dd/yyyy" value=""/>
                                        </div>
                                        <div class="col-40">
                                            <select name="endtime" id="endtime" ></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Agenda</div>
                                <div class="item-input">
                                    <input type="text" name="agenda" placeholder="" value=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Venue</div>
                                <div class="item-input">
                                    <input type="text" name="venue" placeholder="" value=""/>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Remarks</div>
                                <div class="item-input">
                                    <textarea name="remarks"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill color-red">Cancel</a></div>
                    <div class="col-50">
                        <input type="submit" value="Submit" class="button button-big button-fill color-green"/>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>