
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">Red Flags</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class-->
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="property" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <br/>
            <a name="onhold" id="onhold"></a>
            <div class="content-block-title">Property Projects In Red Flag Status</div>
            <div class="list-block accordion-list">

                <ul>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">Retail Mall Management
                                    <br>Not Started
                                </div>
                            </div>
                        </a>

                        <div class="accordion-item-content">
                            <div class="content-block">
                                <div class="row">
                                    <div class="col-40">Status</div>
                                    <div class="col-60">Not Started</div>
                                </div>
                                <div class="row">
                                    <div class="col-40">Variance</div>
                                    <div class="col-60">On Schedule</div>
                                </div>
                                <div class="row">
                                    <div class="col-40">Vendor</div>
                                    <div class="col-60">Retail Pro</div>
                                </div>
                                <p>
                                    <a href="team.html" class="button">Project Team</a><br />
                                    <a href="newmessage.html" class="button">Send Message</a><br />
                                    <a href="newmeeting.html" class="button">Schedule Meeting</a>
                                </p>
                            </div>
                        </div>

                    </li>
                    <li class="accordion-item"><a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">Directory & Location Finder
                                <br>Not Started</div>
                        </div></a>
                        <div class="accordion-item-content">
                            <div class="content-block">
                                <div class="row">
                                    <div class="col-40">Status</div>
                                    <div class="col-60">Not Started</div>
                                </div>
                                <div class="row">
                                    <div class="col-40">Variance</div>
                                    <div class="col-60">Ahead of Schedule - 59</div>
                                </div>
                                <div class="row">
                                    <div class="col-40">Vendor</div>
                                    <div class="col-60"></div>
                                </div>
                                <p>
                                    <a href="team.html" class="button">Project Team</a><br />
                                    <a href="newmessage.html" class="button">Send Message</a><br />
                                    <a href="newmeeting.html" class="button">Schedule Meeting</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


