
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Project Teams</div>
    <div class="right">
      <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
    </div>
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="team" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">

      <div class="card">
        <div class="card-header">Project Team</div>

        <div class="card-content">
          <div class="list-block media-list">
            <ul>
              <li class="item-content">
                <div class="item-media">
                  <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Carlos Sevilla</div>
                  </div>
                  <div class="item-subtitle">Project Management</div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media">
                  <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Rico Sabino</div>
                  </div>
                  <div class="item-subtitle">Development</div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media">
                  <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Carmina Escurel</div>
                  </div>
                  <div class="item-subtitle">Test</div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media">
                  <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Jake Bauson</div>
                  </div>
                  <div class="item-subtitle">User Experience</div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media">
                  <i class="icon icon-form-name"></i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Fidel Sabino</div>
                  </div>
                  <div class="item-subtitle">Release Management</div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="card-footer">
          <span><a href="newmessage.html">Send Message</a></span>
          <span><a href="newmeeting.html">Schedule Meeting</a></span>
        </div>
      </div>


    </div>
  </div>
</div>